<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/application_context.xml</param-value>
	</context-param>
	
	<!-- <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/security-config.xml
			classpath:/spring-beans.xml
		</param-value>
	</context-param>
	 -->
	
  <listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
   <!--<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		&lt;!&ndash; if this init param is defined as below, then "<context:component-scan base-package="com.idrive.resources" />" is not required in application_context.xml and vice versa &ndash;&gt;
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.idrive.server.resources</param-value>
		</init-param>
		&lt;!&ndash; <init-param>
		<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
		<param-value>com.prosoftnet.workspaces.common.WorkspaceApiFilter</param-value>
		</init-param> &ndash;&gt;
		<load-on-startup>1</load-on-startup>
	</servlet>-->


	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.idrive.server.resources</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.filter.LoggingFilter;org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
		</init-param>

		<multipart-config>
			<!-- 10MB of files -->
			<max-file-size>10485760</max-file-size>
			<!-- 10KB of form data -->
			<max-request-size>10240</max-request-size>
			<!-- Buffer to disk over 512KB -->
			<file-size-threshold>524288</file-size-threshold>
		</multipart-config>


		<load-on-startup>1</load-on-startup>

	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	
	
	<!-- <security-constraint>
		<web-resource-collection>
			<web-resource-name>Wildcard means whole app requires authentication</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>

		<user-data-constraint>
			transport-guarantee can be CONFIDENTIAL, INTEGRAL, or NONE
			CONFIDENTIAL: only HTTPS
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
   This login-config enables basic config. When ever we request, this tag makes the pop up appear during the first request
   In basic authentication, with every request user id and password are encoded using BASE64 algorithm sent in the http header like "Authorization:Basic YWRtaW46YWRtaW4="
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config> -->
	
	
	<!--<filter>
		<filter-name>myFilter</filter-name>
		<filter-class>com.idrive.filter.MyserviceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>myFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>-->

	<!--<filter>
		<filter-name>myFilter</filter-name>
		<filter-class>com.idrive.filter.RateLimiterFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>myFilter</filter-name>
	    <url-pattern>/api/123/inmessage</url-pattern>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>-->


	<!--<filter>
		<filter-name>rateLimiterFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>


	<filter-mapping>
		<filter-name>rateLimiterFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>-->
</web-app>
